/* Styling Body from here  */

body{
    height: 100vh;
    margin: 0;
    padding: 0;
}

.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(2,0,.6,1)0%, rgb(16, 16, 154)35%, rgba(0,212,255,1)100%);
}

/*-----------------------  Animation of Body Starts Here ----------------- */
.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
}

.box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(3){
    top: 17%;
    left: 16%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}

.box div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}

.box div:nth-child(9){
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(10){
    top: 20%;
    left: 70%;
    animation: animate 12s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }

    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

/*-------------- Animation of Body Ends Here ---------------- */

/* Body Styling Ends Here  */

/* ------------------------- Starting Navbar from Here -------------------- */
header{
    width: 1300px;
    height: 80px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px ;
}
header span{
    color: #d4d4d4;
    font-weight: bold;
}

.logo{
    font-size: 35px;
    transition: 0.3s;
    font-weight: bold;
    color: #fefefe;
}
.logo:hover{
    cursor: pointer;
}

.navbar ul{
    list-style: none;
    display: flex;
}
.navbar ul li a{
    display: block;
    color: #fefefe;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 25px;
    transition: 0.3s;
    margin: 0 5px;
    display: flex;
    justify-content: end;
}

.navbar ul li a:hover{
    color: #4d4d4d;
}

.hamburger{
    display: none;
}

/* Hitting the Sentence and Buttons from here on  */

.First-page{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 180px;
}

.sentence{
    color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60vh;
    font-size: 50px;
}

/* -------------------- Styling the Buttons From Here ------------ */
.button{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    padding: 30px;
    height: 1px;
    right: 200px;
}
.btn-1 {
    position: relative;
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    margin: 28px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #00a4ff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    right: 230px;
}
.btn-2 {
    position: relative;
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #00a4ff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    right: 230px;
}
.btn-1:hover {
    background-color: #00bbff;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86,185,235,0.5);
    transform: translateY(4px);
    transition: transform 150ms;
}
.btn-2:hover {
    background-color: #00bbff;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86,185,235,0.5);
    transform: translateY(4px);
    transition: transform 150ms;
}

/*------------------------  Add Responsiveness From Here -------------------- */

